body {
    font-family: Verdana;
}

article {
    width: 1200px;
}

article header h1 {
    color: green;
}

article header p {
    background-color: red;
    color: white;
}

article figure {
    width: 600px;
    border: 3px solid black;
    padding: 10px;
}

article figure img {
    width: 100%;
}

nav ul {
  background-color: PaleVioletRed;
  list-style: none;
  padding: 0;
  width: 200px;
  border:1px solid MediumVioletRed;
}

nav ul li {
  border-bottom: 1px solid MediumVioletRed;
  padding: 5px;
}

nav ul li:last-child {
  border-bottom: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: underline;
}
